group Server
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget SixLabors.ImageSharp 1.0.0-beta0002 beta
    nuget SQLProvider
    nuget Mysql.Data ~> 6 storage:packages
    nuget FSharp.Compiler.Tools storage:packages
    nuget Saturn
    nuget Fable.JsonConverter

    clitool Microsoft.DotNet.Watcher.Tools

group Client
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fable.Core
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.React
    nuget Fable.Elmish.HMR
    nuget Fulma 1.0.0-beta-015
    nuget Fulma.Extensions 1.0.0-beta-015

    clitool dotnet-fable

group ServiceWorker
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Fable.Core

    clitool dotnet-fable

group Build
    source https://api.nuget.org/v3/index.json

    nuget FAKE